body {
	font-family: "Montserrat", sans-serif;
	background-color: rgb(246, 248, 250);
	color: black;
	margin: 70px 1.2em 1.2em 1.2em;

	/* For the footer to display properly */
	display: flex;
	min-height: calc(100vh - 70px - 1.2em);
	flex-direction: column;
}

#footer {
	margin-top: auto;
}

/* Nav and sidebar: */

#accountButtons {
	display: flex;
}

.contact-info {
	margin-top: 10px;
	padding: 15px;
	border: 2px rgba(0, 0, 0, 0.1) solid;
}

.contact-info .title {
	font-weight: bold;
}

.contact-info .email {
	margin-top: 10px;
}

.contact-info table {
	width: 100%;
}

.contact-info tr td:first-child {
	text-align: right;
}

.contact-info tr td:nth-child(2) {
	text-align: center;
}

.navbar-nav {
	width: 100%;
}

.notification {
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.89);
	margin-bottom: 1.2em;
}

.notification .actionButtons {
	display: flex;
	margin-top: 15px;
}

.notification .actionButtons :first-child {
	margin-right: 5px;
}

.notification .date {
	font-style: italic;
	margin-bottom: 0.5rem;
	font-size: 90%;
}

.notification a {
	color: black;
}

/* Notification badge */
#notiBadge {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 1px;
	right: 15px;
	padding: 5px 10px;
	border-radius: 50%;
	background: red;
	color: white;
	width: 25px;
	height: 25px;
	min-width: 25px;
	min-height: 25px;
}

.notification p:not(.notification p.date) {
	margin: 0;
	overflow-wrap: anywhere;
}

#searchContainer {
	width: 100%;
	margin: 0 1%;
}

#searchBarNav {
	margin-right: 0 !important;
}

#sidebarButton {
	font-size: 10px;
}

/* Footer */
#footerDiv {
	height: 50px;
}
