html,
body {
    height: 100%;
}

body {
    margin: 0px;
}

#flexcontainer {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#leftside {
    margin: auto;
    width: 50%;
    text-align: center;
}

#rightside {
    background-color: #bcefe3;
    margin: auto;
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit {
    width: 150px;
    margin-top: 25px;
}

.form-control {
    width: 300px;
    margin: auto;
    margin-bottom: 15px;
}



#button {
    margin-top: 50px;

}

#rightSideContents {
    Height: 375px;
    Width: 475px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 80px;
    border-radius: 25px;

    box-shadow: 5px 10px 20px #888888;


}

h1 {
    margin-bottom: 50px;
}

#rightSideContents button {
    margin: 40px;
    width: 150px;
}

form {

    padding: 20px;
    margin: 80px;
    border-radius: 25px;
    box-shadow: 5px 10px 20px #888888;

}