#profilepic {

    outline: none;
    text-align: justify;
    margin-bottom: 20px;

}

#form div {
    margin: 1em;
}

.form-control:not(#searchBarNav) {
    width: 50%;
}

#profpicalert,
#banneralert {
    color: red;
    margin-left: 0px;
    margin-top: 10px;

}

p {
    margin-top: 10px;
}

header {
    margin-left: 2em;
    margin-top: 0;
    margin-bottom: 1em;
}