#hero {
	width: 75%;
	margin: auto;



	/* border-radius: 5%;
	box-shadow: 5px 10px 20px #888888;
	border: 2px rgba(0, 0, 0, 0.1) solid;
	*/
}


body {
	background-image: url("../../images/labsharehero8.png");
	background-size: 100%;
	overflow-y: hidden;
}