.commentContent {
	overflow-wrap: anywhere;
}

#post {
	display: flex;
	flex-direction: column;
}

#post #actionButtons {
	display: flex;
	margin-bottom: 5px;
	margin-bottom: 2em;
}

#postHeader {
	display: flex;
}

#nextToProfilePic {
	display: flex;
	flex-direction: column;
}

#postHeader #actionButtons > button:nth-child(even) {
	margin: 0 5px;
}

#postTitle {
	overflow-wrap: anywhere;
	margin-top: 0.5em;
}

#postHeader p {
	margin: 0;
}

#postText {
	margin-top: 1rem;
	margin-left: 2rem;
	overflow-wrap: anywhere;
}

#postTitleWithDropdown {
	display: flex;
	align-items: center;
}

img {
	width: 150px;
	height: 150px;
	border: 2px solid black;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 1.5em;
}

.commentButton {
	border: none;
	background-color: inherit;
}

.commentButton.dropdown-toggle::after {
	display: none;
}

.comment:not(.reply) {
	background-color: rgba(0, 0, 0, 0.05);
}

#editForm {
	display: flex;
	flex-direction: column;
}

#editForm #postTextForm {
	resize: none;
	overflow: hidden;
	min-height: 50px;
	max-height: 100px;
}

.replyActionButtons {
	display: flex;
	margin-top: 0.6em;
}
.replyActionButtons button:first-child {
	margin-right: 0.2em;
}

.replyBox {
	margin-top: 0.6em;
}

.replyText {
	margin-top: 1em;
}

#newComment {
	margin-bottom: 0.5em;
}

#post {
	margin: auto;
	width: 70%;
}

#comments {
	margin: auto;
	width: 60%;
}

#commentHeader {
	display: flex;
	align-items: center;
}

#commentHeader h2 {
	margin-right: auto;
	margin-left: 0;
}

#commentHeader button {
	margin-right: 0;
}

#commentTable {
	border-left: 2px solid rgba(0, 0, 0, 0.1);
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	border-right: 2px solid rgba(0, 0, 0, 0.1);
}

#commentTable tbody {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

#commentTable td:nth-child(2) {
	width: 5%;
}

.commentProfilePic {
	width: 50px;
	height: 50px;
	border: 2px solid black;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 10px;
}

.username {
	color: black;
}

.username:hover {
	color: rgba(0, 0, 0, 0.651);
}

#commentTable td:first-child {
	display: flex;
	padding: 1rem 0 0.3rem 1rem;
}

#commentTable .reply td:first-child {
	padding-bottom: 1rem;
}

.commentDate {
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: 25%;
}

.commentUnameDate {
	display: flex;
}

.nextToCommentProfilePic {
	width: 100%;
}
