#postContent {
	display: flex;
}

#actionButtons {
	display: flex;
	margin-bottom: 5px;
	margin-bottom: 2em;
}

#actionButtons > button:nth-child(even) {
	margin: 0 5px;
}

#postTitle {
	/*text-align: center;*/
	margin-top: 0.5em;
}

#postContent p {
	margin: 0;
}

#postTitleWithDropdown {
	display: flex;
	align-items: center;
}

img {
	width: 200px;
	height: 200px;
	border: 2px solid black;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 1.5em;
}

table {
	width: 100%;
}

.commentButton {
	border: none;
	background-color: inherit;
}

.commentButton.dropdown-toggle::after {
	display: none;
}

#editForm {
	display: flex;
	flex-direction: column;
}

#editForm #postTextForm {
	resize: none;
	overflow: hidden;
	min-height: 50px;
	max-height: 100px;
}

.replyActionButtons {
	display: flex;
	margin-top: 0.6em
}
.replyActionButtons button:first-child {
	margin-right: 0.2em
}

.replyBox {
	margin-top: 0.6em;
}

.replyText {
	margin-top: 1em;
}

#newComment {
	margin-bottom: 0.5em;
}

#postContent {
	margin: auto;
	width: 70%;
}

#comments {
	margin: auto;
	width: 50%;
}

#commentHeader {
	display: flex;
	align-items: center;
}

#commentHeader h2 {
	margin-right: auto;
	margin-left: 10px;
}

#commentHeader button {
	margin-right: 10px;
}

#commentTable {
	border-left: 2px solid rgba(0, 0, 0, 0.1);
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	border-right: 2px solid rgba(0, 0, 0, 0.1);
}

tbody {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.user {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 0 10px;
}

.user img {
	width: 50px;
	height: 50px;
	border: 2px solid black;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 10px;
}

.user a {
	width: 40%;
	text-align: center;
	color: black;
}

.user a:hover {
	color: rgba(0, 0, 0, 0.651);
}

.commentDate {
	font-weight: bold;
	margin-bottom: 10px;
}

#commentTable tr td:first-child {
	text-align: center;
}