html,
body {
    height: 100%;
}

#passwordalert,
#usernamealert {
    text-align: center;
    color: red;
    margin-bottom: 10px;
}

.marginless {
    margin-bottom: 0;
}

.shake {
    animation: shake .3s;
    border: 2px solid red;
}

@keyframes shake {
    25% {
        transform: translateX(4px)
    }

    50% {
        transform: translateX(-4px)
    }

    75% {
        transform: translateX(4px)
    }
}