html,
body {
    height: 100%;
}

header {
    margin: 20px;
}


#flexContainer {
    display: flex;
    flex-direction: column;
    width: 84%;
}

#edit {
    position: relative;
    bottom: 60px;
}

.table {
    margin: 20px;
    width: 95%;
}



img {
    width: 200px;
    height: 200px;
    border: 2px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.5em;
}

#picture {
    margin: 20px;
}

#topSideBar {
    height: 40%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 25px;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;



}

#bottomSideBar {
    height: 50%;
    width: 15%;
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;

}

#summary {
    margin: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;

}

#achievements {
    margin: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
}

h4 {
    padding: 15px;
}