html,
body {
    height: 100%;
}

header {
    position: relative;
    margin: 20px;
}


#flexContainer {
    display: flex;
    flex-direction: column;
    width: 84%;
}

#edit {
    position: absolute;
    top: 5px;
    right: 20%
}

.table {
    margin: 20px;
    width: 95%;
}

#background {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

#profile {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.5em;
}

#picture {
    margin: 20px;
    position: relative;

}

#footer {
    width: 82%;
}

#topSideBar {
    max-height: 90vh;
    min-height: 61.5%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 40px;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 25px;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    padding-bottom: 0;
    margin: 20px;
    text-align: center;

}

#bottomSideBar {
    height: 50%;
    width: 15%;
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;

}

#summary {
    margin: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;

}

#achievements {
    margin: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
}

h4 {
    padding: 15px;
}

h5 {
    margin-bottom: 20px;
}

img.collabs {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    margin-bottom: 25px;
}

#collabstable {
    margin: auto;
    text-align: center;
}