html,
body {
    height: 100%;
}

body {
    margin: 0px;
}

.form-control {
    width: 500px;

}

#registerform {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 1rem;
    margin: auto;

}


#form {
    display: table-cell;
    vertical-align: middle;
    height: 500px;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}


.alert {
    margin: 0;
    padding: 0;
    color: red;
}

.margin {
    margin-bottom: 5px;
}

input {
    display: inline-block;
}

span {
    font-size: 9.5pt;
    opacity: .5;
}

label {
    display: block;
}

#passwordlabel,
#password2label,
#usernamelabel {
    margin-bottom: 0px;
}

div.inputContainer {
    margin-bottom: 0.5em;
}

.marginless {
    margin-bottom: -0.3em;
}


.shake {
    border: 2px solid red;
    animation: shake 300ms
}

@keyframes shake {
    25% {
        transform: translateX(4px)
    }

    50% {
        transform: translateX(-4px)
    }

    75% {
        transform: translateX(4px)
    }
}